<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<header>
    <img src="https://www.sciencealert.com/images/2021-10/processed/PandasInATree_1024.jpg" alt="The group of pandas">
    <h1>Cute Zoo</h1>
    <div class="auth-buttons">
        <a href="/register-zookeeper" class="button large">Register as zookeeper</a>
        <a href="/register" class="button">Register</a>
        <a href="/login" class="button">Login</a>
        <a href="/logout" class="button">Logout</a>
    </div>
</header>

<main class="main-error">
    <img class="koala" src="https://media.istockphoto.com/id/519731334/photo/young-koala.jpg?s=612x612&w=0&k=20&c=Po_L33-L7izPCCE0tYVqZFA1aSMJqJuFqQZD9LIz4JU=">
    <div class="error-text">
        <h1 class="error">Error</h1>
        <p class="error"><%= message %></p>
        <a class="instructions" href="/">Go back to main menu</a>
        <a href="/instruction" class="instructions">Click to see instructions</a>
    </div>
</main>

<footer>
    <p>Vladyslava Bucharska</p>
</footer>
</body>
</html>