<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cute Zoo</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/javascripts/validators/foodValidator.js" defer></script>
</head>
<body>
<header>
    <img src="https://www.sciencealert.com/images/2021-10/processed/PandasInATree_1024.jpg" alt="The group of pandas">
    <h1>Cute Zoo</h1>
    <div class="auth-buttons">
        <a href="/register-zookeeper" class="button large">Register as zookeeper</a>
        <a href="/register" class="button">Register</a>
        <a href="/login" class="button">Login</a>
        <a href="/logout" class="button">Logout</a>
    </div>
</header>

<main>
    <h1>Edit new food</h1>

    <ul id="fErrors" class="error"></ul>

    <form id="foodForm" onsubmit="return handleFormActions(event)" data-id="<%= id %>">
        <div class="for-input">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="for-input">
            <label for="calories">Calories:</label>
            <input type="number" step="0.01" name="calories" id="calories">
        </div>
        <input type="submit" id="submit" value="Save">
    </form>

    <section>
        <div class="links-to-lists">
            <a href="/food">Return to list of all food</a>
        </div>
    </section>
</main>

<footer>
    <p>Vladyslava Bucharska</p>
</footer>
</body>
</html>